@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: none) {
  .touch-none:hover {
      color: inherit !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 190 100% 95%;
    --foreground: 190 5% 0%;
    --card: 190 50% 90%;
    --card-foreground: 190 5% 10%;
    --popover: 190 100% 95%;
    --popover-foreground: 190 100% 0%;
    --primary: 190 66% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 152 30% 85%;
    --muted-foreground: 190 5% 35%;
    --accent: 152 30% 80%;
    --accent-foreground: 190 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 30% 50%;
    --input: 190 30% 18%;
    --ring: 190 66% 41%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 190 50% 5%;
    --foreground: 190 5% 90%;
    --card: 190 50% 0%;
    --card-foreground: 190 5% 90%;
    --popover: 190 50% 5%;
    --popover-foreground: 190 5% 90%;
    --primary: 190 66% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 152 30% 15%;
    --muted-foreground: 190 5% 60%;
    --accent: 152 30% 15%;
    --accent-foreground: 190 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 30% 18%;
    --input: 190 30% 18%;
    --ring: 190 66% 41%;
    --radius: 1rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    transition: background-color 0.5s ease; 
  }

}


.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[90px] tracking-[1px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

